<h2>bienvenido al chat pa!</h2>
<h3>hola, <span id="username"></span></h3>

<div>
    <input id="chatbox">
</div>
<div>
    <p id="messageLogs"></p>
</div>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
{{!-- el orden de estos dos importa --}}
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>